<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Listado de Incidentes</title>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN"
      crossorigin="anonymous"
    >
    <link href="static/css/main.min.css" rel="stylesheet">
  </head>
  <body>
    <link rel="stylesheet" href="https://cdn.datatables.net/1.13.6/css/dataTables.bootstrap5.min.css">

    <nav
      class="navbar navbar-expand-lg"
      style="background-color: #0A2472; font-family: Arial, sans-serif; color: #F2F5FF;"
    >
      <div class="container-fluid">
        <a
          class="navbar-brand"
          style="background-color: #0A2472; font-family: Arial, sans-serif; color: #F2F5FF;"
          href="/"
        >
          <img src="https://i.imgur.com/FgAs7le.jpg" style="height: 30px;" alt="Imagen no disponible">
          SMES
        </a>
        <button
          class="navbar-toggler bg-white"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#navbarNav"
          aria-controls="navbarNav"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav">
            <li class="nav-item dropdown">
              <a
                class="nav-link dropdown-toggle text-light"
                href="#"
                role="button"
                data-bs-toggle="dropdown"
                aria-expanded="false"
              >
                Incidentes
              </a>
              <ul class="dropdown-menu">
                <li><a class="dropdown-item" href="/incidentes">Listado de Incidentes</a></li>
                <li><a class="dropdown-item" href="/incidentes/apertura">Apertura de Incidentes</a></li>
                <li><a class="dropdown-item" href="/incidentes/cierre">Cierre de Incidentes</a></li>
              </ul>
            </li>
            <li class="nav-item">
              <a class="nav-link text-light" href="/comunidades">Comunidades</a>
            </li>
            <li class="nav-item dropdown">
              <a
                class="nav-link dropdown-toggle text-light"
                href="#"
                role="button"
                data-bs-toggle="dropdown"
                aria-expanded="false"
              >
                Rankings
              </a>
              <ul class="dropdown-menu">
                <li><a class="dropdown-item" href="/rankingIncidentesAbiertos">Ranking de incidentes abiertos</a></li>
                <li><a class="dropdown-item" href="/rankingIncidentesCerrados">Ranking de incidentes cerrados</a></li>
                <li><a class="dropdown-item" href="/rankingImpactoIncidentes">Ranking de impacto de incidentes</a></li>
              </ul>
            </li>
            {% if admin %}
              <li class="nav-item">
                <a class="nav-link text-light" href="/cargarDatos">Carga de datos</a>
              </li>
            {% endif %}
          </ul>
          <ul class="navbar-nav position-absolute end-0">
            <li class="nav-item dropdown me-2">
              <a
                class="nav-link dropdown-toggle text-light"
                href="#"
                role="button"
                data-bs-toggle="dropdown"
                aria-expanded="false"
              >
                <i class="bi bi-person"></i>
                <!-- Icono de usuario (debes incluir Bootstrap Icons) -->
                {{ user }}
              </a>
              <ul class="dropdown-menu dropdown-menu-end">
                <li><a class="dropdown-item" href="/logout">Cerrar sesión</a></li>
              </ul>
            </li>
          </ul>
        </div>
      </div>
    </nav>

    <h1 class="text-center mt-2">Listado de Incidentes</h1>
    <div class="container ">
      <div class="row justify-content-center">
        <div class="col-md-10">
          <div class="text-center mt-5"></div>
          <h4>Filtros:</h4>
          <button id="filtro-boton" class="btn btn-primary m-2">Ver Abiertos</button>
          <table id="table" class="table table-striped border table-light" style="width:100%">
            <thead>
              <tr>
                <th>Entidad</th>
                <th>Establecimiento</th>
                <th>Servicio</th>
                <th>Estado</th>
                <th>Fecha Apertura</th>
              </tr>
            </thead>
            <tbody>
              {% for incidente in incidentes %}
                <tr>
                  <td>{{ incidente.entidad }}</td>
                  <td>{{ incidente.establecimiento }}</td>
                  <td>{{ incidente.servicio }}</td>
                  <td>
                    {% if incidente.estado %}Abierto{% else %} Cerrado{% endif %}
                  </td>
                  <td>{{ incidente.fecha_apertura }}</td>
                </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
      </div>
    </div>
    <style>
      label {
        font-family: Arial, sans-serif;
        color: #c7c9d1;
      }
    </style>
    <script src="https://code.jquery.com/jquery-3.7.0.js"></script>
    <script src="https://cdn.datatables.net/1.13.6/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.13.6/js/dataTables.bootstrap5.min.js"></script>

    <script>
      $(document).ready(function () {
        var table = $('#table').DataTable({
          pagingType: 'full_numbers',
          language: {
            lengthMenu: 'Mostrar _MENU_ incidentes por página',
            zeroRecords: 'No se encontraron incidentes',
            info: 'Mostrando página _PAGE_ de _PAGES_',
            paginate: {
              first: 'Primero',
              last: 'Último',
              next: 'Siguiente',
              previous: 'Anterior',
            },
          },
          searching: false,
          columnDefs: [
            {
              targets: -1,
              orderable: false,
              searchable: false,
            },
          ],
        });

        $('#comunidad-filter').on('keyup', function () {
          table.column(0).search(this.value).draw();
        });

        var filterActive = false; // Initialize the filter state to inactive

        // Function to filter rows based on the content of the column
        function filterRowsWithButton() {
          table.rows().every(function () {
            var rowData = this.data();
            var columnValue = rowData[3]; // Replace 0 with the appropriate column index

            if (!columnValue.includes('C')) {
              this.nodes().to$().show(); // Show rows that contain a button
            } else {
              this.nodes().to$().hide(); // Hide rows that do not contain a button
            }
          });

          filterActive = true;
        }

        // Function to remove the filter
        function removeButtonFilter() {
          table.rows().every(function () {
            this.nodes().to$().show(); // Show all rows
          });

          filterActive = false;
        }

        $('#filtro-boton').on('click', function () {
          if (filterActive) {
            document.getElementById('filtro-boton').innerHTML = 'Ver Abiertos';
            removeButtonFilter();
          } else {
            document.getElementById('filtro-boton').innerHTML = 'x Ver todos';
            filterRowsWithButton();
          }
        });
      });
    </script>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
